/*******************************/
/********* General CSS *********/
/*******************************/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Creepster&family=Lobster&family=Silkscreen&display=swap');

body {
    color: #797979;
    background: #17171a;
    font-family: monospace;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #fff;
}

a {
    color: #454545;
    transition: .3s;
}

h2 {
    font-size: 2rem;
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.5rem;
    }
}

a:hover,
a:active,
a:focus {
    color: #D5B981;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px
}

.back-to-whassap {
    position: fixed;
    display: none;
    background-color: #25D366;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    color: #fff;
    right: 15px;
    bottom: 70px;
    transition: background 0.5s;
    border-radius: 50%;
    z-index: 9;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #D5B981;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border-radius: 50%;
    z-index: 9;
}

.back-to-top:hover { background: #D5B981; }
.back-to-top:hover i { color: #111113; }
.back-to-top i { color: #111113; padding-top: 10px; }
.back-to-whassap i { color: #fff; padding-top: 10px; }

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb {
    background-color: #D5B981;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #D5B981;
    transition: 0.3s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
    background: #D5B981;
}

::-webkit-scrollbar-corner {
    background: none;
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 45px;
    background: #111113;
}

.hero .container-fluid .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container-fluid .row .mendican {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: 400px;
}

.hero .hero-image img {
    position: relative;
    width: 550px;
}

.hero .hero-text {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text h1 {
    color: #D5B981;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.hero .hero-text p {
    color: #807d7d;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
}

@media (max-width: 1400px) {
    .hero .container-fluid .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 991.98px) {
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text p {
        font-size: 22px;
    }
    
    .hero .hero-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 800px) {
    .hero .hero-text {
        padding: 20px;
    }

    .hero .hero-image img {
        width: 400px;
        margin-top: -100px;
    }
}

@media (max-width: 767.98px) {
    .hero .hero-text h1 {
        font-size: 50px;
        font-weight: 600;
    }
    
    .hero .hero-text p {
        font-size: 20px;
    }
    
    .hero .hero-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

@media (max-width: 600px) {
    .hero .hero-image img {
        width: 300px;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text h1 {
        font-size: 45px;
        font-weight: 600;
    }
    
    .hero .hero-text p {
        font-size: 18px;
    }
    
    .hero .hero-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

@media (min-height: 600px) {
    .hero .hero-text {
        padding: 20px;
    }

    .hero .hero-image img {
        width: 300px;
    }
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 120px 0;
}

.about .container .row {   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about svg {
    position: relative;
    top: -165px;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about .text-left p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.about .text-left h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.about .about-text p {
    text-align: center;
    font-size: 16px;
    padding: 0 100px;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 45px 0 80px 0;
    background-color: #111113 !important;
}

.service a {
    position: relative;
    background-color: #D5B981;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    color: #111113;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.service .container {
    padding-top: 20px;
}

.service .container .row .bll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.04);
}

.service .service-img {
    position: relative;
    width: 100%;
}

.service .service-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service .text-center p {
    font-family: 'Abril Fatface', cursive;
    color: #D5B981;
}

.service .section-header h2 {
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 40px;
}

.service .service-item h3 {
    margin: 0;
    padding: 25px 15px 15px 15px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.service .service-item p {
    margin: 0;
    padding: 0 25px 25px 25px;
    font-size: 16px;
}

.service .service-item a.btn {
    position: relative;
    margin-bottom: 30px;
    width: 180px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    background-color: #D5B981;
    color: #111113;
    border-radius: 10px;
    transition: .3s;
}

@media (max-width: 600px) {
    .service .service-item {
        width: 80%;
    }
}

/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 90px 0 35px 0;
    padding-bottom: 120px;
}

.price a {
    position: relative;
    background-color: #D5B981;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    color: #111113;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.price .container {
    padding-top: 20px;
}

.price .container .text-center p {
    color: #D5B981;
}

.price .card {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price .horario-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: none;
    padding: 30px;
}

.price .horario-text p {
    text-align: center;
    color: rgb(189, 186, 186);
}

.price .horario-text p span {
    font-size: 2rem;
    font-family: 'Abril Fatface', cursive;
}

.price .price-item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(18, 19, 20, 0.651);
    transition: .3s;
}

.price .price-item:hover {
    background: #D5B981;
}

.price .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price .price-img {
    position: relative;
    width: 200px;
}

.price .price-img img {
    width: 100%;
    padding-bottom: 20px;
}

.price .text-center p {
    font-family: 'Abril Fatface', cursive;
}

.price .text-center h2 {
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 40px;
}

.price .price-text {
    position: relative;
    text-align: center;
    width: calc(100% - 100px);
    overflow: hidden;
}

.price .price-text h2 {
    position: relative;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.price .price-text h3 {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #D5B981;
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 90px 10px;
    background: #111113;
}

.contact a {
    position: relative;
    background-color: #D5B981;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    color: #111113;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.contact .text-center {
    padding-top: 20px;
    padding-bottom: 40px;
}

.contact .text-center p {
    color: #D5B981;
    font-family: 'Abril Fatface', cursive;
}

.contact .text-center h2 {
    color: #fff;
    font-family: 'Abril Fatface', cursive;
}

.contact .center-titulin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .center-titulin .mendican {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact .mendican img {
    width: 100%;
}

.contact .contact-form {
    width: 90%;
}

.contact .contact-form form {
    width: 100%;
}

.contact .contact-form form .but{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.contact .contact-form input {
    width: 100%;
    padding: 25px 30px;
    background: #242327;
    border-radius: 10px;
    border: none;
}

.contact .contact-form textarea {
    height: 90px;
    padding: 15px 30px;
    background: #242327;
    border-radius: 10px;
    border: none;
    resize: none;
}

.contact .contact-form .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111113;
    background: #D5B981;
    border-radius: 10px;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #1d2434;
    background: #D5B981;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 1100px) {
    .contact .center-titulin {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    
    .contact .contact-form {
        padding: 90px 0;
    }

    .contact .contact-form {
        width: 100%;
    }
}

/*******************************/
/*********** Blog CSS **********/
/*******************************/
.ubication {
    width: 100%;
    padding: 0;
    margin: 0;
}

.ubication .container { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ubication .container .container-fluid { 
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ubication .container .container-fluid img { 
    width: 100%;
    border-radius: 10px;
}

.blog {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px 0;
}

.blog a {
    position: relative;
    background-color: #D5B981;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    color: #111113;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.blog .container {
    padding-top: 20px;
}

.blog .container .text-center p {
    color: #D5B981;
}

.blog .blog-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog .blog-item {
    position: relative;
    margin: 0 10px;
    background: rgba(18, 19, 20, 0.651);
    overflow: hidden;
    border-radius: 10px;
    height: 400px;
}

.blog .text-center p {
    font-family: 'Abril Fatface', cursive;
}

.blog .text-center h2 {
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 40px;
}

.blog .blog-page .blog-item {
    margin: 0 0 30px 0;
}

.blog .blog-meta {
    position: relative;
    padding: 20px 30px 12px 30px;
}

.blog .blog-meta * {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #797979;
}

.blog .blog-meta i {
    margin: 0 2px 0 10px;
}

.blog .blog-meta i:first-child {
    margin-left: 0;
}

.blog .blog-text {
    position: relative;
    height: 150px;
    padding: 0 30px 30px 30px;
}

.blog .blog-star {
    padding: 0 45px;
}

.blog .blog-text h2 {
    font-size: 18px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 10px;
    color: rgb(158, 154, 154);
}

.blog .blog-item a.btn {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #D5B981;
    transition: .3s;
    background-color: transparent;
}

.blog .blog-meta a {
    background-color: transparent;
    width: 120px;
}

.blog .blog-item a.btn i {
    margin-left: 5px;
}

.blog .blog-item a.btn:hover {
    color: #D5B981;
}

.blog .owl-nav {
    width: 150px;
    margin: 32px auto 0 auto;
    display: flex;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
    margin-left: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D5B981;
    background: #111113;
    font-size: 22px;
    transition: .3s;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
    color: #1d2434;
    background: #D5B981;
}

.blog .pagination .page-link {
    color: #1d2434;
    border-radius: 0;
    border-color: #1d2434;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #D5B981;
    background: #1d2434;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 200px;
    padding-bottom: 100px;
    background: #111113;
    display: flex;
}

.footer .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-contact {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999999;
    padding-bottom: 60px;
}

.footer .footer-contact h2 {
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    color: #D5B981;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #999999;
    transition: .3s;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #D5B981;
}

.footer .footer-logo {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-40px -40px 0px #D5B981);
    padding-bottom: 90px;
}

.footer .footer-logo img { width: 200px; }

.footer .footer-contact,
.footer .footer-newsletter {
    position: relative;
    color: #999999;
    width: 100%;
    height: 200px;
}

.footer .footer-contact h2,
.footer .footer-newsletter h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    color: #D5B981;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social a:hover i {
    color: #D5B981;
}

.footer .footer-newsletter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 90px;
}

.footer .footer-newsletter p {
    text-align: center;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #242327;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #111113;
    background: #D5B981;
    border-radius: 10px;
    border: 2px solid #1d2434;
    transition: .3s;
}

.footer .footer-newsletter .btn:hover {
    color: #111113;
    background: #D5B981;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .footer .footer-contact,
    .footer .footer-link,
    .footer .footer-newsletter {
        position: relative;
        margin-bottom: 45px;
        color: #999999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer {
        padding-bottom: 50px;
    }
    .footer .footer-newsletter {
        padding-bottom: -0;
    }
}
